 body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
    background-color: rgba(103, 190, 178, 0.685);

}

 #parte1{
    background-color: rgb(117, 206, 117);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 80%;
    height: 85vh;
}

input{
    height: 25px;
    width: 300px;
    font-family: 'Inconsolata', monospace;
    font-size: 12pt;
}

button{
    height: 35px;
    width: 95px;
    border-radius: 40%;
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 14pt;
    cursor: pointer;
}

aside{
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pontuacao{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

h3{
    padding-right: 30px;
    padding-left: 30px;
}

